@mixin btn-base {
    padding: 0.15rem 1rem;
    border-radius: 0.25rem;
}

@mixin btn-s-modify {
    font-size: 0.65rem;
    padding: 0.1rem 0.85rem;
}

$color-principal: #0075FF;
$color-subtitle: #7a7a7a;

.btn-get_started {
    @include btn-base;
    background-color: $color-principal;
    border: 1px solid $color-principal;
    color: white;

    &:hover {
        background-color: white;
        color: $color-principal;
    }

    &-s {
        @extend .btn-get_started;
        @include btn-s-modify();
    }
}

.btn-sign_in {
    @extend .btn-get_started;
    background-color: transparent;
    color: #000000;
    border: none;

    &:hover {
        color: $color-principal;
    }

    &-s {
        @extend .btn-sign_in;
        @include btn-s-modify();
    }
}

.main-menu {
    margin-bottom: 0;
    li {
        font-size: 0.65rem;
        list-style: none;
        display: inline;
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.icon-sm {
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 7.5px #777777;
    i {
        padding: 0.1rem 0.25rem;
        color: $color-principal;
    }
}

.feature{
    display: flex;
    flex-direction: column;
    .icon {
        color: $color-principal;
        font-size: 4rem;
        text-align: center;
    }
    .description{
        text-align: center;
        .title{
            font-size: 2rem;
        }
        .text{
            color: $color-subtitle;
            font-weight: 600;
        }
    }
    .cta{
        color: $color-principal;
        font-weight: 600;
        text-align: center;
    }
}

.icon-desc{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    .icon {
        margin-top: -2rem;
        color: $color-principal;
        font-size: 4rem;
        padding: 0;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}