@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html {
    font-family: 'Ubuntu', sans-serif;
    }

body {
    background-color: #161717;;
}

.container 
{
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
    }

.buttons {
    align-self: flex-start;
    display: flex;
    gap: 20px;
    }

.google-btn 
{
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    align-self: flex-start;
    }
    .google-btn picture
    {
        width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .google-btn picture img {
        width: 75%;
    }
    .google-btn:hover{
        opacity: 0.85;
    }
    .google-btn span
    {
        font-weight: 500;
        color: white;
        padding: 15px;
    }

.twitter-btn 
{
    /*background-color: ;*/
    background-color: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: flex-start;
    }
    .twitter-btn picture img 
    {
        padding-top: 3px;
        max-width: 40px;
        max-height: 40px;
    }
    .twitter-btn:hover
    {
        opacity: 0.85;
    }

.separator
{
    display: flex;
    width: 100%;
    gap:15px;
    }
    .separator hr{
        flex-grow: 1;   /*crecimiento de elemento*/
        border: none;
        border-top: 1px solid #ccc;
    }
    .separator span {
        color: #ccc;
    }

.section-inputs {
    display: flex;
    gap: 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: strecht;
    gap: 30px;
}

label {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label span {
    font-weight: 500;
}
.section-inputs label input {
    width: 80%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}
label input {
    width: 90%;
    background-color: #212121;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.3s, border 0.2s, box-shadow0.5s;
}
label input::placeholder{
    color: gray;
}
    label input:hover{
        color: black;
        background-color: white;
        border: solid 1px #454045;
        box-shadow: 0 0 10px #FDEEF4;
    }
    label input:focus{
        color: black;
        background-color: white;
        border: solid 1px #f3f3f4;
        box-shadow: 0 0 10px #FDEEF4;
    }
    label input:focus::placeholder {
        color: white;
        transition: 1s;
    } 

.checkbox-label {
    background-color: #161717;
    display: flex;
    flex-direction: row;
}
.checkbox-label input[type="checkbox"]{
    width: 20px;
}

.checkbox-label:hover{
    border: none;

}

.checkbox-label:focus{
    border:none;
}

.checkbox-label span {
    font-weight: 400;
}

.submit-btn {
    background-color: #1A73E8;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover{
    opacity: 0.85;
}
/*
.section-inputs label input {
    width: 90%;
} */





